@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    user-select: none;
    transition: all 500ms ease-in-out;
}

.titulo{
    padding: 10px 0;
    font-size: 2em;
    transition: all 500ms ease-in-out;
}

.temaBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 80px;
    padding: 0 10px;
    border-radius: 20px;
    background-color: rgb(66, 94, 107);
    cursor: pointer;
    border: 1px solid rgb(80, 107, 114);
}

.lua,
.sol{
    font-size: 1.3em;
    color: white;
}

.temaBox-btn{
    position: absolute;
    left: 0%;
    height: 100%;
    width: 50%;
    border-radius: 20px;
    background-color: rgb(43, 43, 43);
    transition: 500ms ease-in-out;
}

.temaBoxBtnMove{
    position: absolute;
    left: 50%;
}

.temadark{
    background-color: rgb(27, 38, 41);
    transition: all 500ms ease-in-out;
}

.temaWhite{
    color: white;
    transition: all 500ms ease-in-out;
}

.climaAnimated-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    margin-bottom: 20px;
}

.sol-animation{
    position: absolute;
    transform: scale(0);
    font-size: 5em;
    color: rgb(46, 65, 73);
    transition: all 200ms ease-in-out;
}

.lua-animation{
    position: absolute;
    transform: scale(0);
    font-size: 5em;
    color: white;
    transition: all 200ms ease-in-out;
}

.moveClimaSol{
    transform: scale(1);
    transition: all 1s ease-in-out;
}

.moveClimaLua{
    transform: scale(1);
    transition: all 1s ease-in-out;
}