@charset "UTF-8";

@keyframes language_javascript_animation {
    0% {
        bottom: -500%;
     }
    100% {
        bottom: 50%;
    }
}

@keyframes language_python_animation {
    0% {
        bottom: -500%;
     }
    100% {
        bottom: 50%;
    }
}