/*#####################################################################*/
/*##########               -GENERAL SETTINGS-                ##########*/
/*#####################################################################*/

@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

:root {
  --cor_blue: rgb(0, 132, 255);
  --cor_text_white: rgb(255, 255, 255);
  --color_menu_background: rgb(34, 34, 34);
  --color_main_background: rgb(34, 34, 34);
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

/*#####################################################################*/
/*##########                         -HEADER-                ##########*/
/*#####################################################################*/

header {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor_blue);
}

/* ###############################*/
/* ####       LOGO-HEADER     ####*/
/* ###############################*/

.logo > a {
  color: var(--cor_text_white);
  font-size: 2.3em;
  font-family: "Comfortaa", cursive;
  user-select: none;
  line-height: 1.3em;
}

/* ###############################*/
/* ####       MENU-HEADER     ####*/
/* ###############################*/

#label_icon_menu {
  display: none;
}

#label_icon_menu:checked ~ .barra_menu {
  transform: translateX(200px);
}

#label_icon_menu:checked ~ .label_menu img {
  display: none;
}

.label_menu img {
  box-sizing: border-box;
  width: 30px;
  padding: 3px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0%, -50%);
  user-select: none;
}

.label_close img {
  background-color: var(--cor_blue);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.267);
  border-radius: 10px 0 10px 0;
  box-sizing: border-box;
  padding: 3px;
  width: 30px;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
  user-select: none;
}

.barra_menu {
  background-color: var(--color_menu_background);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.623);
  position: fixed;
  top: 0px;
  left: -200px;
  width: 180px;
  height: 100vh;
  transition: all .3s linear;
  z-index: 10;
}

nav {
  width: 140px;
  position: absolute;
  top: 80px;
  left: 20px;
}

nav > a {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border-top: 1px solid var(--cor_blue);
  box-shadow: 0 1px 0 var(--cor_blue);
  line-height: 2.5em;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--cor_text_white);
  user-select: none;
}

nav > a > img {
  width: 25px;
  padding-right: 7px;
}

nav > a:hover {
  color: var(--cor_blue);
  transition: .3s;
  padding-left: 10px;
}

/*#####################################################################*/
/*##########                         -MAIN-                  ##########*/
/*#####################################################################*/

main {
  background-image: linear-gradient(45deg, var(--color_main_background), rgb(26, 26, 26));
  width: 100vw;
  height: 1000px;
  flex: 1 0 auto;
}

/* ###############################*/
/* ####      FIRST-SECTION    ####*/
/* ###############################*/

.title_first_section {
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  align-items: end;
  width: 100%;
  height: 90px;
  padding: 10px 20px;
}

.title_first_section h1 {
  color: var(--cor_text_white);
  font-family: "Comfortaa", cursive;
  font-size: 1.7em;
  user-select: none;
}

.profile_first_section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color_menu_background);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.308);
  width: 100vw;
  height: 250px;
}

.profile_first_section h2 {
  color: var(--cor_text_white);
  font-family: Arial, Helvetica, sans-serif;
}

/* ###############################*/
/* ####      SECOND-SECTION   ####*/
/* ###############################*/

.title_second_section {
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  align-items: end;
  width: 100%;
  height: 90px;
  padding: 10px 20px;
}

.title_second_section h1 {
  color: var(--cor_text_white);
  font-family: "Comfortaa", cursive;
  font-size: 1.7em;
  user-select: none;
}

.languages_second_section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color_menu_background);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.308);
  width: 100vw;
  height: 300px;
  overflow: hidden;
}

.img_javascript {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  animation: language_javascript_animation 3s alternate infinite ease-in-out;
}

.img_python {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  animation: language_python_animation 3s alternate infinite ease-in-out;
}

/*#####################################################################*/
/*##########                          -FOOTER-               ##########*/
/*#####################################################################*/


/* ###############################*/
/* ####     CREDITOS-FOOTER   ####*/
/* ###############################*/

.creditos_footer {
  width: 100vw;
  height: 40px;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.932);
}

.creditos_footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  color: rgb(221, 221, 221);
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
}