@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(img/pexels.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 50px;
    background-color: rgba(0, 0, 0, 0.575);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.600);
}

header > .material-symbols-outlined {
    background-color: white;
    border-radius: 5px;
    margin-right: 1em;
    display: none;
}

.menu_header {
    margin-right: 1em;
}

.menu_header > a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.menu_header > a:hover {
    color: rgb(0, 224, 120);
    transition: 0.3s;
    transform: scale(1.05);
}

.logo > a {
    font-size: 2em;
    margin-left: 1em;
    color: white;
    text-decoration: underline;
}

.logo > a:hover {
    color: rgb(0, 224, 120);
    transition: 0.3s;
}

.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    margin-top: 2em;
    background-color: rgba(0, 0, 0, 0.575);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.692);
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.151);
    border-bottom: 1px solid rgba(255, 255, 255, 0.151);
}

.caixa_login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 400px;
    background-color: transparent;
    backdrop-filter: blur(45px);
    border: 1px solid rgba(255, 255, 255, 0.096);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}

.text_login > h1 {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.658);
    margin-top: 3em;
    color: white;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    height: 40%;
    margin-top: 1em;
}

.input_1 {
    width: 70%;
    height: 20%;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 1em;
    outline-style: none;
    margin-top: 15px;
}

.input_1:focus {
    border-bottom: 1px solid rgb(0, 224, 120);
}

input::placeholder {
    font-size: 15px;
    color: white;
}

.check_box {
    margin-top: 5px;
    display: flex;
    flex-direction: row;   
}

#checkbox {
    margin-right: 5px;
}

.checkbox , p {
    font-size: 14px;
    margin-right: 25px;
    color: white;
}

.botao_entrar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 10%; 
    margin-bottom: 3em;
}

.botao_entrar > button {
    width: 50%;
    height: 100%;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

button:hover {
    border: 2px solid rgb(0, 224, 120);
    color: rgb(0, 224, 120);
}

.ajuda {
    display: flex;
    flex-direction: row;
}

.ajuda > p, a {
    margin: 0;
    margin-right: 5px;
    text-decoration: none;
}

.ajuda > a {
    color: rgb(0, 224, 120);
}

.ajuda > a:hover {
    text-decoration: underline;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

hr {
    margin-top: 0.5em;
    width: 500px;
    height: 2px;
    border: none;
    background-size: 500%;
    background-image: linear-gradient(to right, rgb(0, 158, 85), rgb(255, 255, 255));
    animation: animation_hr 1s infinite alternate;
}

@keyframes animation_hr {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

.text > h1 {
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 5px black;
    animation-name: animation_text;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes animation_text {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.02);
    }
}

@media screen and (max-width: 990px) {
    .conteudo {
        flex-direction: column;
        height: 100vh;
    }
    .text {
        margin-bottom: 1em;
    }
    .caixa_login {
        margin: 0 0 2em 0;
    }
}

@media screen and (max-width: 610px) {
    .caixa_login{
        margin: 0;
    }
    .text {
        width: 365px;
        margin-bottom: 1em;
    }
    .text > h1 {
        font-size: 2em;
    }
    .text > hr {
        width: 270px;
    }
    .caixa_login {
        width: 250px;
        height: 400px;
    }
    .ajuda > p, a {
        font-size: 12px;
    }
    .checkbox , p {
        font-size: 12px;
        margin-right: 12px;
    }
}

@media screen and (max-width: 425px) {
    .text {
        width: 300px;
        margin-bottom: 1em;
    }
    .text > h1 {
        font-size: 1.5em;
    }
    .text > hr {
        width: 200px;
    }
    .menu_header {
        display: none;
    }
    header > .material-symbols-outlined {
        display:block;
    }
}

@media screen and (max-width: 320px) {
    .text {
        width: 250px;
        margin-bottom: 1em;
    }
    .text > h1 {
        font-size: 1.2em;
    }
    .text > hr {
        width: 150px;
    }
}