@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    width: 100%;
    padding: 10px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: red;
    transition: 0.3s;
}

a:hover {
    color: blue;
}